* {
    overflow-wrap: break-word;
}
#myStuff {
    text-align: center;
}

.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    max-width: 350px;
    max-height: 150px;
    align-self: center;
}

.carousel {
    margin: auto;
}

img {
    width: 100%;
}