* {
    overflow-wrap: break-word;
}
#myStuff {
    text-align: center;
}

.carousel {
    max-width: 800px;
    max-height: 470px;
    align-self: center;
}

.carousel {
    margin: auto;
}

img {
    width: 100%;
}

#socialJumbotron {
    margin-bottom: 0;
}